<header id="header">
  <a href="/">
    <h1>(blog 'zezin)</h1>
  </a>
  <div id="icons">
    <a target="_blank" href="{{ site.github }}">
      <i class="fa fa-github fa-lg"></i>
    </a>
  </div>
</header>
