.org-src-container {
  color: #c0c5ce;
  background-color: #1b2b34;
}

.org-builtin {
  /* font-lock-builtin-face */
  color: #5fb3b3;
}

// TODO: Allow override of classes in the next version
.org-comment {
  /* font-lock-comment-face */
  color: #949494;
}

.org-comment-delimiter {
  /* font-lock-comment-delimiter-face */
  color: #949494;
}

.org-constant {
  /* font-lock-constant-face */
  color: #f99157;
}

.org-function-name {
  /* font-lock-function-name-face */
  color: #6699cc;
}

.org-keyword {
  /* font-lock-keyword-face */
  color: #c594c5;
}

.org-negation-char {
  /* font-lock-negation-char-face */
  color: #99c794;
}

.org-rainbow-delimiters-depth-1 {
  /* rainbow-delimiters-depth-1-face */
  color: #c594c5;
}

.org-rainbow-delimiters-depth-2 {
  /* rainbow-delimiters-depth-2-face */
  color: #6699cc;
}

.org-rainbow-delimiters-depth-3 {
  /* rainbow-delimiters-depth-3-face */
  color: #5fb3b3;
}

.org-rainbow-delimiters-depth-4 {
  /* rainbow-delimiters-depth-4-face */
  color: #99c794;
}

.org-string {
  /* font-lock-string-face */
  color: #99c794;
}

.org-type {
  /* font-lock-type-face */
  color: #fac863;
}

.org-variable-name {
  /* font-lock-variable-name-face */
  color: #ec5f67;
}
